Repository leonid998/VoxPersona: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings, validate-dependencies

Path conditions:
  validate-imports: any of: ^src/.*\.py$ and \.py$
  validate-config: any of: ^(src/config\.py|\.env\.example|docker-compose\.yml)$
  environment-compatibility: any of: ^src/.*\.py$ and \.py$
  validate-error-recovery: any of: ^src/.*\.py$ and \.py$
  validate-path-usage: any of: ^src/.*\.py$ and \.py$
  check-docstrings: any of: ^src/.*\.py$ and \.py$
  validate-dependencies: any of: ^requirements\.txt$

feat: Добавлен тип status_message в MessageTracker для очистки системных статусов
  MESSAGE_TRACKER_IMPLEMENTATION.md
  src/handlers.py
  src/message_tracker.py
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: Migrate to Pydantic models with validation, add retry mechanism, implement MD cleanup
  AGENTS_WORKFLOW_V2.md
  CHANGELOG_MD_CLEANUP.md
  CLAUDE_CODE_AGENTS_WORKFLOW.md
  CONVERSATION_HISTORY_FLOW_REPORT.md
  ISSUES_REPORT.md
  MD_CLEANUP_IMPLEMENTATION.md
  RETRY_DEPLOYMENT_CHECKLIST.md
  RETRY_EXAMPLE.md
  RETRY_FIX_SUMMARY.txt
  RETRY_MECHANISM_CHANGES.md
  RETRY_README.md
  src/PYDANTIC_MIGRATION_REPORT.md
  src/conversation_manager.py.backup
  src/conversations.py.backup
  src/handlers.py
  src/md_storage.py
  src/run_analysis.py
  src/test_conversations.py
  src/test_integration_conversations.py
  src/test_md_cleanup.py
  src/utils.py.backup
  src/utils.py.bak
  src/utils_original.py
  update_utils.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

docs: Update ISSUES_REPORT.md with correct metrics (10/14 problems solved, 71%)
  ISSUES_REPORT.md
Due: none

refactor: Remove ChatHistoryManager legacy system completely
  CLAUDE_CODE_AGENTS_WORKFLOW.md
  CONVERSATION_HISTORY_FLOW_REPORT.md
  ISSUES_REPORT.md
  src/chat_history.py
  src/conversation_manager.py
  src/handlers.py
  src/run_analysis.py
  src/test_data_persistence.py
  src/utils.py
  src/utils_original.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: Auto-send chat history and reports as .txt files
  CHANGELOG.md
  README.md
  requirements-test.txt
  src/file_sender.py
  src/handlers.py
  src/tests/README.md
  src/tests/__init__.py
  src/tests/test_file_sender.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: Use absolute path for throttle file via config.py
  src/config.py
  src/file_sender.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавлена автоотправка истории при переключении чата
  src/conversation_handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor: отключена автоотправка файлов при старте и входе в чат
  src/conversation_handlers.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавлены кнопки выбора режима при автоотправке истории
  src/file_sender.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: 100% соответствие архитектуре MessageTracker - исправлено 13 мест
  src/bot.py
  src/file_sender.py
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: Добавлена функция "Получить историю" с обходом throttling
  src/file_sender.py
  src/handlers.py
  src/markups.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Рефакторинг меню выбора режима поиска
  src/markups.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: Мои отчеты V2 - Фазы 1.5, 1-2, 4
  TASKS/00001_01_Docs_reports/ARCHITECTURE_REVIEW.md
  TASKS/00001_01_Docs_reports/ARCHITECTURE_REVIEW_UPDATED.md
  TASKS/00001_01_Docs_reports/COMPLIANCE_REPORT.md
  TASKS/00001_01_Docs_reports/Plan.md
  TASKS/00001_01_Docs_reports/REPORTS_MANAGEMENT_ANALYSIS.md
  TASKS/00001_01_Docs_reports/REPORTS_MANAGEMENT_TASK_REVIEW.md
  TASKS/00001_01_Docs_reports/user_task.txt
  TASKS/00001_01_Docs_reports/ИТОГОВОЕ_ТЗ.md
  TASKS/00001_01_Docs_reports/ОТЧЕТ_ФАЗЫ_1-4.md
  src/handlers.py
  src/handlers_my_reports_v2.py
  tests/test_my_reports_v2.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: Add get_user_lock() to config.py (missing from commit 50daed6)
  src/config.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: Add export_reports_list_to_txt() to md_storage.py (missing from commit 50daed6)
  src/md_storage.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: Preserve snapshot in user_states with .update() instead of reassignment
  src/handlers_my_reports_v2.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(my_reports): исправлена навигация после операций View/Rename/Delete
  src/handlers_my_reports_v2.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: добавлена постоянная нумерация отчетов (report_number)
  src/migrations/migrate_add_report_numbers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: добавлен скрипт миграции для index.json структуры
  src/migrations/migrate_add_report_numbers_index.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: исправление системы нумерации и очистки отчетов
  src/handlers_my_reports_v2.py
  src/md_storage.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: исправлены критические ошибки в отчетах (P0+P1)
  src/handlers_my_reports_v2.py
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: исправлены ошибки нумерации и доступа к отчетам
  src/handlers_my_reports_v2.py
  src/main.py
  src/md_storage.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: исправлены критические ошибки в отчетах (P0+P1)
  src/handlers_my_reports_v2.py
  src/migrations/migrate_fix_questions.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: исправлены подсказки ввода номера отчета (UI)
  src/handlers_my_reports_v2.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: Remove check_authorized import from handlers.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

T22-T24: Финальная очистка кода и обновление документации
  .env.example
  src/auth_utils.py
  src/bot.py
  src/config.py
  src/handlers.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавить TYPE_CHECKING импорт для AuthManager в config.py
  src/config.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавить COPY scripts/ в Dockerfile и создать create_super_admin.py
  Dockerfile
  scripts/create_super_admin.py
Due: none

fix: исправить create_super_admin.py - использовать storage.create_user
  scripts/create_super_admin.py
Due: none

fix: заменить _temp_verify_password на bcrypt в auth_manager.py
  src/auth_manager.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавить AuthSecurityManager в AuthManager и volume для auth_data
  docker-compose.yml
  src/auth_manager.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: добавить персистентность для Telegram sessions и throttle data
  docker-compose.yml
  src/main.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: исправить критичные проблемы auth bypass и меню доступа
  src/auth_filters.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавить метод get_active_session_by_telegram_id в AuthStorageManager
  src/auth_storage.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: удалить дублирующий обработчик /start из bot.py
  src/bot.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: переместить init_auth_manager() перед register_handlers()
  src/main.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: реализовать login flow для пользователей без активной сессии
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: критичные исправления login flow по результатам krivo-agent
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings
