Repository leonid998/VoxPersona: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings, validate-dependencies

validate-imports:
  name: Validate Import Patterns
  entry: python scripts/validate_imports.py
  language: system
  pass_filenames: true

validate-config:
  name: Validate Configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: true

environment-compatibility:
  name: Environment Compatibility Check
  entry: python scripts/check_environment_compatibility.py
  language: system
  pass_filenames: true

validate-error-recovery:
  name: Validate Error Recovery Usage
  entry: python scripts/validate_error_recovery.py
  language: system
  pass_filenames: true

validate-path-usage:
  name: Validate Path Usage
  entry: python scripts/validate_path_usage.py
  language: system
  pass_filenames: true

check-docstrings:
  name: Check Function Docstrings
  entry: python scripts/check_docstrings.py
  language: system
  pass_filenames: true

validate-dependencies:
  name: Validate Dependencies
  entry: python scripts/validate_dependencies.py
  language: system
  pass_filenames: true

fix
  .qoder/quests/commit-ba5d334-fixes.md
  src/bot.py
  src/config.py
  src/handlers.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Fix: Зафиксировать все на Python 3.10.11
  .github/workflows/deploy.yml
  .github/workflows/python-app.yml
  .python-version
  Dockerfile
  PYTHON_VERSION.md
  README.md
  requirements.txt
Due: validate-dependencies

Feat: CI-совместимые тесты для GitHub Actions
  .github/workflows/python-app.yml
  README.md
  tests/TESTING_STRATEGY.md
  tests/ci_markers.py
  tests/test_ci_compatible.py
Due: none

fix: устранение проблемы безопасности S7630 - использование переменных окружения вместо прямого ввода пользователя в GitHub Actions
  .github/workflows/deploy.yml
Due: none

Исправление проблемы безопасности: переход на переменные окружения вместо прямого использования пользовательских данных в GitHub Actions
  .github/workflows/deploy.yml
Due: none

doc
  Dockerfile
Due: none

Fix: Add conditional import for sentence_transformers in CI environment
  src/utils.py
  tests/test_ci_compatible.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Исправлена ошибка импорта dotenv: добавлена конфигурация Pyright для отключения предупреждений об импортах
  pyrightconfig.json
Due: none

Большое исправление ошибок
  pyrightconfig.json
  src/analysis.py
  src/bot.py
  src/config.py
  src/constants.py
  src/db_handler/db.py
  src/handlers.py
  src/markups.py
  src/menus.py
  src/utils.py
  src/validators.py
  tests/test_ci_compatible.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: удалить закомментированный код согласно SonarQube правилу python:S125
  src/minio_manager.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Исправление ошибки типов для параметра mode в функции ask_zone
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

1
  pyrightconfig.json
  src/analysis.py
  src/bot.py
  src/config.py
  src/db_handler/db.py
  src/handlers.py
  src/menus.py
  src/minio_manager.py
  src/utils.py
  src/validators.py
  tests/.env.test
  tests/README.md
  tests/TESTING_STRATEGY.md
  tests/__init__.py
  tests/ci_markers.py
  tests/run_tests.py
  tests/test_ci_compatible.py
  tests/test_config.py
  tests/test_error_failure_simulation.py
  tests/test_integration.py
  tests/test_integration_cross_environment.py
  tests/test_integration_service_communication.py
  tests/test_minio_manager.py
  tests/test_orchestrator.py
  tests/test_unit_configuration.py
  tests/test_unit_import_system.py
  tests/test_unit_service_components.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

model change to claude sonnet 4 20250514
  .qoder/quests/model-change-to-claude-sonnet-4-20250514.md
  MODEL_UPGRADE_DOCUMENTATION.md
  docker-compose.yml
  src/analysis.py
  test_model_upgrade.py
  validate_upgrade.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix
  test_model_upgrade.py
Due: none

fix: update CI workflow to check for tests directory existence before running pytest
  .github/workflows/python-app.yml
Due: none

bot answer update
  .qoder/quests/unknown-task.md
  ARCHITECTURE_DIAGRAM.md
  SMART_SEND_DOCUMENTATION.md
  TZ_smart_send_with_history.md
  bd_first.md
  src/chat_history.py
  src/config.py
  src/constants.py
  src/handlers.py
  src/md_storage.py
  src/run_analysis.py
  src/utils.py
  tatus
  test_chat_history.py
  test_md_storage.py
  test_smart_send.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: replace docker-compose with docker compose in workflow
  .github/workflows/deploy.yml
Due: none

fix: replace relative imports with absolute imports and update docker-compose
  .qoder/quests/python-import-fix.md
  docker-compose.yml
  src/chat_history.py
  src/md_storage.py
  src/minio_manager.py
  src/utils.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

deploy update
  #7 31.90 Preparing to unpack ...228.txt
  .dockerignore
  .qoder/quests/unknown-task-1759428616.md
  DEPLOYMENT_GUIDE.md
  DOCKER_OPTIMIZATION.md
  Dockerfile
  docker-compose.yml
  test_docker_optimization.bat
  test_docker_optimization.sh
  validate_docker_optimization.py
Due: validate-config

fix: improve Docker build by removing all NVIDIA packages for CPU-only deployment
  Dockerfile
  t --limit 5
Due: none

Add __init__.py to make src a Python package
  src/__init__.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

ci: configure deploy workflow to run after CI checks pass and add status badges
  .github/workflows/deploy.yml
  README.md
Due: none

Оптимизация Docker кэширования в CI/CD pipeline
  .github/workflows/deploy.yml
Due: none

Исправление архитектуры деплоя: убран дубль app/ директории
  .github/workflows/deploy.yml
Due: none

Инициация FULL_RESTART для архитектурной чистоты
  docker-compose.yml
Due: validate-config

fix: улучшена инициализация RAG системы с детальным логированием
  src/rag_persistence.py
  src/run_analysis.py
  src/storage.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Fix race condition in fast search response delivery
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Восстановление MD файлов и улучшение отправки сообщений
  src/run_analysis.py
  src/utils.py
  test_smart_send.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: удалены deprecated тесты для удаленных функций
  test_smart_send.py
Due: none

Изменение формата отчетов с MD на TXT для просмотра в Telegram
  src/constants.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor: реструктуризация главного меню бота
  src/handlers.py
  src/markups.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor: изменена раскладка кнопок главного меню на 2x2
  src/markups.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: удален parse_mode='Markdown' из всех send_message
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor: удалена кнопка История за сегодня, улучшена навигация в отчетах
  src/handlers.py
  src/markups.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor: изменена раскладка меню Чаты на 2x2 с кнопкой Новый чат
  src/handlers.py
  src/markups.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: полная система мультичатов с тестовым покрытием
  src/config.py
  src/conversation_handlers.py
  src/conversation_manager.py
  src/conversations.py
  src/handlers.py
  src/markups.py
  src/run_analysis.py
  src/test_conversations.py
  src/test_integration_conversations.py
  src/utils.py
Due: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: MenuManager для устранения дублирования меню в Telegram боте
  MENU_FIX_GUIDE.md
  src/conversation_handlers.py
  src/handlers.py
  src/menu_manager.py
  src/menus.py
  src/test_conversations.py
  src/test_menu_manager.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавлены await к async функциям в callback_query_handler
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавлен await к callback.answer() - восстановлена работа кнопок меню
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Path conditions:
  validate-imports: any of: ^src/.*\.py$ and \.py$
  validate-config: any of: ^(src/config\.py|\.env\.example|docker-compose\.yml)$
  environment-compatibility: any of: ^src/.*\.py$ and \.py$
  validate-error-recovery: any of: ^src/.*\.py$ and \.py$
  validate-path-usage: any of: ^src/.*\.py$ and \.py$
  check-docstrings: any of: ^src/.*\.py$ and \.py$
  validate-dependencies: any of: ^requirements\.txt$
