Repository leonid998/VoxPersona: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings, validate-dependencies

validate-imports:
  name: Validate Import Patterns
  entry: python scripts/validate_imports.py
  language: system
  pass_filenames: true

validate-config:
  name: Validate Configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: true

environment-compatibility:
  name: Environment Compatibility Check
  entry: python scripts/check_environment_compatibility.py
  language: system
  pass_filenames: true

validate-error-recovery:
  name: Validate Error Recovery Usage
  entry: python scripts/validate_error_recovery.py
  language: system
  pass_filenames: true

validate-path-usage:
  name: Validate Path Usage
  entry: python scripts/validate_path_usage.py
  language: system
  pass_filenames: true

check-docstrings:
  name: Check Function Docstrings
  entry: python scripts/check_docstrings.py
  language: system
  pass_filenames: true

validate-dependencies:
  name: Validate Dependencies
  entry: python scripts/validate_dependencies.py
  language: system
  pass_filenames: true

feat: migrate Pydantic models to v2 + add auth documentation
  README.md
  docs/AUTH_ADMIN_GUIDE.md
  docs/AUTH_USER_GUIDE.md
  src/auth_models.py
  src/conversations.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: Menu Crawler MVP - автоматический обход меню Telegram бота
  menu_crawler/TASK_COMPLETION_REPORT.md
  menu_crawler/config/README.md
  menu_crawler/config/crawler_config.json
  menu_crawler/config/menu_graph.json
  menu_crawler/scripts/build_menu_graph_v2.py
  menu_crawler/scripts/build_menu_graph_v3.py
  menu_crawler/scripts/parse_menu_tree.py
  menu_crawler/src/__init__.py
  menu_crawler/src/coverage_verifier.py
  menu_crawler/src/navigator.py
  menu_crawler/src/report_builder.py
  menu_crawler/src/utils/__init__.py
  menu_crawler/src/utils/checkpoint_manager.py
  menu_crawler/src/utils/circuit_breaker.py
  menu_crawler/src/utils/cleanup.py
  menu_crawler/src/utils/logging_config.py
  requirements.txt
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings, validate-dependencies

fix: cleanup.py переписан для работы с файловой системой вместо PostgreSQL
  menu_crawler/LAUNCH_INSTRUCTIONS.md
  menu_crawler/scripts/create_session_stdin.py
  menu_crawler/scripts/create_user_session.py
  menu_crawler/scripts/create_user_session_with_code.py
  menu_crawler/src/utils/cleanup.py
  menu_crawler/src/utils/cleanup_old.py
Due: none

feat: add main.py entry point for Menu Crawler
  menu_crawler/src/main.py
Due: none

fix: correct cleanup function name in main.py
  menu_crawler/src/main.py
Due: none

fix: use test_user_session instead of menu_crawler_session
  menu_crawler/src/navigator.py
Due: none

fix: add user_id alias for test_user_id in Navigator
  menu_crawler/src/navigator.py
Due: none

fix: add username attribute from Pyrogram client
  menu_crawler/src/navigator.py
Due: none

fix: remove duplicate init_crawler() call in crawl()
  menu_crawler/src/navigator.py
Due: none

fix: initialize undocumented/deep/no_back variables before use
  menu_crawler/src/report_builder.py
Due: none

fix: parse initial keyboard from /start instead of hardcoded menu_main
  menu_crawler/src/navigator.py
Due: none

fix: increase /start response wait time from 2s to 3s
  menu_crawler/src/navigator.py
Due: none

feat: track current_message to use actual message_id for callbacks
  menu_crawler/src/navigator.py
Due: none

fix: validate callback_data exists in current keyboard before sending
  menu_crawler/src/navigator.py
Due: none

feat: update menu_graph.json v4.0 with actual callbacks from handlers.py
  menu_crawler/config/actual_callbacks_analysis.json
  menu_crawler/config/menu_graph.json
Due: none

feat: expand crawler_config.json to cover all access management menus
  menu_crawler/config/crawler_config.json
Due: none

feat: add script to set TEST_USER as super_admin
  menu_crawler/scripts/set_test_user_super_admin.py
Due: none

feat: add test data generator and FSM handler for Menu Crawler
  menu_crawler/scripts/generate_test_data.py
  menu_crawler/src/utils/fsm_handler.py
Due: none

fix: correct imports in menu crawler scripts
  menu_crawler/scripts/generate_test_data.py
  menu_crawler/scripts/set_test_user_super_admin.py
Due: none

fix: use correct class name AuthStorageManager
  menu_crawler/scripts/set_test_user_super_admin.py
Due: none

fix: add base_path argument to AuthStorageManager
  menu_crawler/scripts/set_test_user_super_admin.py
Due: none

feat: добавлена интеллектуальная навигация в Menu Crawler
  menu_crawler/src/navigator.py
Due: none

fix: protect critical directories from git clean -fd (Issue #00006)
  .gitignore
Due: none

feat: Add automated daily backup system at 2:00 AM
  scripts/BACKUP_README.md
  scripts/backup_persistent.sh
Due: none

fix: correct Docker volume names with voxpersona_ prefix
  scripts/backup_persistent.sh
Due: none

fix: remove HuggingFace cache from backup (too large)
  scripts/BACKUP_README.md
  scripts/backup_persistent.sh
Due: none

docs: add backup implementation report
  TASKS/00006_20251015_URYFB/backup_implementation_report.md
Due: none

chore: add TASKS/ to .gitignore
  .gitignore
Due: none

chore: remove TASKS/ from git tracking
  TASKS/00001_01_Docs_reports/ARCHITECTURE_REVIEW.md
  TASKS/00001_01_Docs_reports/ARCHITECTURE_REVIEW_UPDATED.md
  TASKS/00001_01_Docs_reports/COMPLIANCE_REPORT.md
  TASKS/00001_01_Docs_reports/Plan.md
  TASKS/00001_01_Docs_reports/REPORTS_MANAGEMENT_ANALYSIS.md
  TASKS/00001_01_Docs_reports/REPORTS_MANAGEMENT_TASK_REVIEW.md
  TASKS/00001_01_Docs_reports/user_task.txt
  TASKS/00001_01_Docs_reports/ИТОГОВОЕ_ТЗ.md
  TASKS/00001_01_Docs_reports/ОТЧЕТ_ФАЗЫ_1-4.md
  TASKS/00006_20251015_URYFB/backup_implementation_report.md
Due: none

fix: resolve Menu Crawler DATA_INVALID error with /test_callback endpoint
  menu_crawler/src/navigator.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: исправлено несоответствие методов хеширования паролей (SHA256 → bcrypt)
  src/auth_manager.py
  src/auth_storage.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat(K-02): Add RBAC check for invite creation
  src/access_handlers.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat(K-01): Add deep link parsing for invitation flow
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat(K-03): Implement FSM workflow for user registration
  src/handlers.py
  src/validators.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

test(K-03): Add comprehensive FSM registration tests + get_user_by_username method
  src/auth_storage.py
  tests/test_registration_fsm.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat(K-04): Add UI access for admin to invitation management
  src/access_handlers.py
  src/markups.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

test(K-04): Add comprehensive UI access tests + 11/11 PASSED
  tests/test_k04_ui_access.py
Due: none

refactor(K-05): Move invite_code generation to AuthSecurityManager
  src/access_handlers.py
  src/auth_security.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(HOTFIX): Critical API signature mismatches (issues 1.1, 1.2, 1.5, 1.10)
  src/access_handlers.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(URGENT): Унификация валидации паролей (issues 1.3, 1.4)
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

Path conditions:
  validate-imports: any of: ^src/.*\.py$ and \.py$
  validate-config: any of: ^(src/config\.py|\.env\.example|docker-compose\.yml)$
  environment-compatibility: any of: ^src/.*\.py$ and \.py$
  validate-error-recovery: any of: ^src/.*\.py$ and \.py$
  validate-path-usage: any of: ^src/.*\.py$ and \.py$
  check-docstrings: any of: ^src/.*\.py$ and \.py$
  validate-dependencies: any of: ^requirements\.txt$
