Repository leonid998/VoxPersona: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-imports, validate-config, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings, validate-dependencies

Path conditions:
  validate-imports: any of: ^src/.*\.py$ and \.py$
  validate-config: any of: ^(src/config\.py|\.env\.example|docker-compose\.yml)$
  environment-compatibility: any of: ^src/.*\.py$ and \.py$
  validate-error-recovery: any of: ^src/.*\.py$ and \.py$
  validate-path-usage: any of: ^src/.*\.py$ and \.py$
  check-docstrings: any of: ^src/.*\.py$ and \.py$
  validate-dependencies: any of: ^requirements\.txt$

feat(auth): Add delete_user() API method for permanent user deletion
  src/auth_manager.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(access): Replace soft delete with permanent deletion in handle_confirm_delete
  src/access_handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(access): Add missing block_user() result check in handle_confirm_delete
  src/access_handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

test: Add comprehensive tests for user deletion functionality
  tests/test_user_deletion.py
Due: none

fix: исправлен deadlock при смене пароля после входа по временному паролю
  src/access_handlers.py
  src/handlers.py
  tests/integration/test_temp_password_fix.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавить FSM делегирование для смены пароля в handlers.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: завершать сессии при блокировке + уведомления + документация
  src/auth_filters.py
  src/auth_manager.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

test: добавить автотесты для блокировки/разблокировки пользователей
  tests/test_block_unblock_sessions.py
Due: none

fix: add manual auth verification to callback_query_handler
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor: extract callback auth logic to testable verify_callback_auth()
  src/handlers.py
  tests/integration/test_callback_auth.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

test: add smoke tests for refactoring validation
  tests/integration/test_callback_handler_integration.py
  tests/integration/test_refactoring_smoke.py
Due: none

fix: Add RBAC role checks to all access_handlers functions
  src/access_handlers.py
  tests/test_access_roles.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: Добавлен placeholder для descry.md (Query Expansion - ФАЗА 1)
  Description/descry.md
Due: none

feat: Добавлен модуль query_expander.py (Query Expansion - ФАЗА 2)
  src/query_expander.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat(query-expansion): integrate expand_query into run_dialog_mode
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat(query-expansion): add UI components for query expansion
  src/bot.py
  src/handlers.py
  src/markups.py
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(query-expansion): CRITICAL - move callback routing from bot.py to handlers.py
  src/bot.py
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor(query-expansion): add try-finally blocks for guaranteed user_states cleanup
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

docs(query-expansion): add documentation and unit tests
  README.md
  tests/test_query_expander.py
Due: none

fix(handlers): disable test_callback function
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(query-expander): change relative import to absolute
  src/query_expander.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: добавить Description/descry.md в Docker образ для Query Expansion
  .dockerignore
  Description/descry.md
  Dockerfile
Due: none

fix(query_expander): восстановление работоспособности модуля
  src/handlers.py
  src/markups.py
  src/query_expander.py
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(handlers): удалить неиспользуемый global rags для flake8
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

chore: удалить временные файлы с ошибками
  src/access_handlers_patch.py
  src/handlers_my_reports_v2_TEMP.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(handlers): убран ValidationError в handle_expand_send
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(query_expander): исправлена MESSAGE_TOO_LONG (промпт + защита)
  src/query_expander.py
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(query_expander): исправлен двойной вызов expand_query (Session 6)
  src/handlers.py
  src/run_analysis.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix(query_expansion): generate fake message_id for MockMessage
  src/handlers.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor: перенос промпта Query Expansion в файл queru_exp.md
  Description/queru_exp.md
  src/query_expander.py
  tests/test_query_expander.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor(query-expansion): улучшение промпта queru_exp.md
  Description/queru_exp.md
Due: none

refactor(query-expansion): улучшение структурирования ответов
  Description/queru_exp.md
Due: none

refactor: переименование queru_exp.md → queru_exp.txt (fix placeholder escaping)
  Description/queru_exp.txt
  src/query_expander.py
  tests/test_query_expander.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

refactor(query-expansion): улучшение промпта для Query Expansion
  Description/queru_exp.txt
Due: none

refactor(query-expansion): добавлен шаг определения релевантных отчетов
  Description/queru_exp.txt
Due: none

refactor(query-expansion): применение улучшений промпта v2.0
  Description/queru_exp.txt
Due: none

fix: добавлен выбор между прямым поиском и улучшением вопроса
  src/handlers.py
  tests/test_query_choice.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

fix: Исправить embeddings модель на BAAI/bge-m3 в utils.py
  src/utils.py
Due: validate-imports, environment-compatibility, validate-error-recovery, validate-path-usage, check-docstrings

feat: Добавить python-docx>=0.8.11 в requirements.txt
  requirements.txt
Due: validate-dependencies
